.bull-gallery * {
  margin : 0;
  padding : 0;
  border : 0;
  border-radius: 0;
  vertical-align: top;
}

.bull-gallery .galery {
  text-align: center;
}
.bull-gallery .mosaic {
  display : inline-block;
  /*width: 350px;
  height : 350px;*/
  position : relative;
}

.bull-gallery .mosaic > *{
  position : absolute;
  width : 100%;
  height : 100%;
  transition: 0.5s all;
}

.bull-gallery .mosaic > div > img {
  width :100%;
  height : 100%;
  object-fit: cover;
}

.bull-gallery .mosaic[toggle="1"] > div:nth-of-type(1) {
  opacity: 1;
  transform: scale(1, 1);
}

.bull-gallery .mosaic[toggle="1"] > div:nth-of-type(2) {
  opacity: 0;
  transform: scale(0, 0);
}

.bull-gallery .mosaic[toggle="2"] > div:nth-of-type(1) {
  opacity: 0;
  transform: scale(0, 0);
}

.bull-gallery .mosaic[toggle="2"] > div:nth-of-type(2) {
  opacity: 1;
  transform: scale(1, 1);
}

.bull-gallery .label {
  opacity: 0;
  color : white;
  font-family: "Arial";
  font-size: 24px;
  font-weight: bold;
  position : absolute;
  width : 100%;
  height : 100%;
  background-color: rgba(0,0,0,0.3);
  text-align: center;
  transition: 0.4s all;
  transform : scale(0.5, 0.5);
  vertical-align: top;
  cursor : pointer;
}

.bull-gallery .label > span {
  display : block;
  margin-top: 45%;
}

.bull-gallery .mosaic:hover .label {
  opacity: 1;
  transform : scale(1, 1);
}

.bull-gallery .mosaic-clickable {
  position: absolute;
  top : 0;
  left : 0;
  width : 100%;
  height : 100%;
  cursor : pointer;
}

.bull-gallery #btn-category {
  display : none;
}

.bull-gallery #btn-category + label {
  display: none;
  cursor : pointer;
}

.bull-gallery #btn-category + label > img {
  width : 30px;
  height : 30px;
  background: white;
}

/* Navbar doble */

.bull-gallery .bg_navbar {
  width : 100%;
  height : 30px;
  margin-bottom: 8px;
}

.bull-gallery .bg_navbar input[type="checkbox"] {
  display : none;
}

.bull-gallery .bg_navbar label[for="bg_toggle"] {
  display : none;
  width : 30px;
  height : 30px;
}

.bull-gallery .bg_navbar .bg_navbar__container {
  width : 100%;
}

.bull-gallery .bg_navbar .bg_navbar__section {
  width : 49.6%;
  display : inline-block;
}

.bull-gallery .bg_navbar .bg_navbar__section:nth-of-type(1) {
  text-align: left;
}

.bull-gallery .bg_navbar .bg_navbar__section:nth-of-type(2) {
  text-align: right;
}

.bull-gallery .bg_navbar .bg_navbar__section ul {
  list-style: none;
  font-size : 14px;
}

.bull-gallery .bg_navbar .bg_navbar__section li {
  display : inline-block;
  line-height: 30px;
  height : 30px;
  margin : 0 5px 0 5px;
  box-sizing: border-box;
  cursor : pointer;
}

.bull-gallery .bg_navbar .bg_navbar__section li:hover {

}

/* Fin Navbar doble */

/*.bull-gallery .navbar > li[active=""] {
  border-bottom: 3px solid rgb(30, 166, 133);
}*/

.bull-gallery .visualizacion {
  visibility: hidden;
  position : fixed;
  top :0;
  left : 0;
  width : 100%;
  height : 100vh;
  background-color: rgba(0,0,0,0);
  text-align: center;
  transition: 0.2s all;
  z-index: 10000;

  display : flex;
  justify-content: center;
  align-items: center;

}

.bull-gallery .visualizacion .bg_content {
  display : flex;
  justify-content: center;
  align-content: center;
  background: url(../img/loading.gif) no-repeat;
  background-size: 50px 50px;
  background-position: center;
  position : relative;
  width: 90%;
  height: 80vh;
  box-sizing: border-box;
}

.bull-gallery .visualizacion .bg_content > .bg-content-img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.bull-gallery .visualizacion .bg_content > .bg-content-img > img {
  width : 100%;
  object-fit: contain;
}

.bull-gallery .visualizacion .bg_content iframe {
  position : absolute;
  width : 100%;
  height: 100%;
  top : 0;
  left : 0;
}

.bull-gallery .btn-navigate {
  display : inline-block;
  color : white;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  cursor: pointer;
  transition: 0.2s all;
  border : 0;
  z-index: 10001;
  /* margin : 10%; */
}

.bull-gallery .btn-navigate-left {
  position: absolute;
  top : 38vh;
  left : 0px;
}

.bull-gallery .btn-navigate-right {
  position: absolute;
  top : 38vh;
  right : 0px;
}

.bull-gallery .btn-navigate:hover {
  transform: scale(1.5);
}


.bull-gallery .visualizacion .bg_content::-webkit-scrollbar {
  width : 7px;
  background-color: rgba(0,0,0,0);
}

.bull-gallery .visualizacion .bg_content::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #979994;
}

.bull-gallery .visualizacion-visible {
  visibility: visible;
  background-color: rgba(0,0,0,0.7);
}


#btn-close-visualizacion {
  position: absolute;
  top : 10px;
  right : 10px;
  width : 20px;
  height : 20px;
  margin-top: 10px;
  margin-right: 10px;
  margin : 25px auto;
  text-decoration: none;
  border: 0;
  cursor : pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

#btn-close-visualizacion * {
  box-shadow: none;
  -webkit-box-shadow: none;
}


@media (max-width: 768px) {

  .bull-gallery #btn-category + label {
    display : block;
    margin-left : 48%;
  }

  .bull-gallery .navbar {
    position : absolute;
    z-index: 100;
    background: rgba(0,0,0,0.8);
    padding: 0;
    margin: 0;
    margin-left : 25%;
    width : 50%;
    left: -100%;
    transition: 0.4s all;
  }

  .bull-gallery .navbar > ul {
    display : block;
    margin : 0;
    padding : 0;
    width : 100%;
  }
  .bull-gallery .navbar > li {
    color : white;
    display: block;
    margin : 0;
    text-align: center;
    margin-top : 10px;
  }

  .bull-gallery #btn-category:checked ~.navbar {
    left: 0px;
  }

  /* Responsive Navbar Doble */
  .bull-gallery .bg_navbar {
    position : relative;
  }

  .bull-gallery .bg_navbar input#bg_toggle:checked ~ .bg_navbar__container {
    left : 0px;
    margin-left: 25%;
  }

  .bull-gallery .bg_navbar label[for="bg_toggle"] {
    display : block;
    margin : 0 auto;
  }

  .bull-gallery .bg_navbar .bg_navbar__container {
    position: absolute;
    text-align: center;
    width : 50%;
    background-color: rgba(0,0,0,0.7);
    color : white;
    z-index: 100;
    left : -1024px;
    margin : 0 auto;
    transition: 0.4s all;
  }

  .bull-gallery .bg_navbar .bg_navbar__section:nth-of-type(1) {
    text-align: center;
  }

  .bull-gallery .bg_navbar .bg_navbar__section:nth-of-type(2) {
    text-align: center;
    border-top: 2px solid white;
  }
  .bull-gallery .bg_navbar .bg_navbar__section {
    display : block;
    width : 100%;
  }
  .bull-gallery .bg_navbar .bg_navbar__section li {
    display : block;
  }

  .bull-gallery .visualizacion .bg_content {
    width : 100%;
  }
  /* Fin Responsive Navbar Doble */
}
